@font-face {
    font-family: BrandonGrotesqueLight;
    src: url(font/brandon-grotesque-light.otf);
  }
  @font-face {
    font-family: BrandonGrotesqueRegular;
    src: url(font/brandon-grotesque-regular.otf);
  }
 
  @font-face {
    font-family: Rotunda;
    src: url(/font/rotunda.medium.ttf);
  }

  @font-face {
    font-family: Dukeplus;
    src: url(font/Duke.ttf);
    src: url(font/Duke.otf);
    src: url(font/Duke.woff);
    src: url(font/Duke.woff2);
  }

  

html{
    scroll-padding-top: 70px;
}

body {
height:auto;
}

nav{
	font-family: BrandonGrotesqueLight  !important;
	font-size:18px;
    /*background-color: #8EAD8C;*/
    background-color: #990000;
}
.nav-link{
    color: white !important;
}

p{
	font-family: BrandonGrotesqueLight  !important;
	font-size:18px;  
  text-align: justify;
}

.hp-title{
    padding-top: 75px;
    font-size: 70px;
    font-family: Dukeplus !important;
}


.team-name{
	font-family: BrandonGrotesqueRegular  !important;
  font-weight: bold;
  text-transform: uppercase;
	font-size:20px;  
  text-align: center;
  margin-top:15px;
}

.title{
  padding-top: 45px;
  font-size: 50px;
   font-family: BrandonGrotesqueRegular;
}

h3{
  font-family: BrandonGrotesqueRegular;
  padding-top: 45px;
  font-size: 25px;
}
