item:after{
    content: "\a"
}

item label{
    font-weight: bold;
}

/*persName{
    color: #ff3399;
}

placeName{
    color: #009900;
}

seg[type="festa"]{
    color: orange;
    padding:1px; 
}*/

seg[type="internal-link"]{
    color: blue;
    padding:1px; 
}


sic{
    text-decoration: line-through;
}
corr:before{
    content: "["
}
corr:after{
    content: "] "
}
corr{
    color: #b1b4b4;
}

gap{
    content:"[_lacuna nel codice_]";
    /*font-size: 11px;*/
    color: #b1b4b4;
    /*background: #e5e6e6;*/
}


surplus{
    color: black;
    text-decoration: wavy;
}

.titoloRubrica{
    font-size: 17px;
    font-weight: bold;
}





