@font-face {
    font-family: BrandonGrotesqueLight;
    src: url(font/brandon-grotesque-light.otf);
  }
  @font-face {
    font-family: BrandonGrotesqueRegular;
    src: url(font/brandon-grotesque-regular.otf);
  }
 
  @font-face {
    font-family: Rotunda;
    src: url(/font/rotunda.medium.ttf);
  }

  @font-face {
    font-family: Dukeplus;
    src: url(font/Duke.ttf);
    src: url(font/Duke.otf);
    src: url(font/Duke.woff);
    src: url(font/Duke.woff2);
  }

  

html{
    scroll-padding-top: 70px;
}

body {
height:auto;
}

#navbar{
    /*background-color: #990000;*/
    background-color: #6c1433;
}
#navbar .nav-link{
    color: white !important;
}

#myTab .nav-link{
  color: #561028 !important;
}

p{
  text-align: justify;
}

.hp-title{
    padding-top: 75px;
    font-size: 70px;
    font-family: Dukeplus !important;
    color: #561028;
}
.hp-subtitle{
	font-size:20px;  
  text-align: center;
  font-style: italic;
  margin-top:40px
}
h6{
  font-size: 20px;
  font-weight: bold;
}

.title{
  color: #561028;
}

a{
  color: #561028;
}

.parallax {
  background-image: url(img/latin_manuscript.jpg);
  min-height: 300px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.team-name{
	/*font-family: BrandonGrotesqueRegular  !important;*/
  font-weight: bold;
  text-transform: uppercase;
	font-size:20px;  
  text-align: center;
  margin-top:15px;
}

.title{
  padding-top: 45px;
  font-size: 50px;
   font-family: BrandonGrotesqueRegular;
}

h3{
  /*font-family: BrandonGrotesqueRegular;*/
  padding-top: 45px;
  font-size: 25px;
}

@media (max-width: 768px) {
  .mx-5 {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
