@font-face {
    font-family: Montserrat-Regular;
    src: url(font/Montserrat-Regular.ttf);
  }

html{
    scroll-padding-top: 70px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#navbar{
    /*background-color: #990000;*/
    background-color: #6c1433!important;
}
#navbar .nav-link{
    color: white !important;
}


.hp-bg {
  background-image: url(img/download5.svg); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  height: 400px; /* Adjust height as needed */
  margin-top:50px;
}



/*TEST COUNTER*/
.counter {
  font-size: 2.5rem; /* Numero più grande */
  font-weight: bold;
  color: white;
  margin-bottom: 10px; /* Distanza tra il numero e il testo */
}
.label {
  font-size: 1.2rem;
  color: rgb(215, 213, 213);
}
.counter-box {
  text-align: center;
  padding: 5px;
  background-color: #6c1433;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*-----------------------------------------------------------------------------------------*/

/*TEST FLIP CARDS*/

.flip-card {
  background-color: transparent;
  height: 170px;
   /* perspective: 1000px;Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: black;
  border-radius: 8px;
  border: solid #6c1433 1px;

}

/* Style the back side */
.flip-card-back {
  background-color: #6c1433;
  color: white;
  transform: rotateY(180deg);
  border-radius: 8px;
  border: solid #6c1433 1px;
}
/*--------------------------------------------------------------------------*/


.lang-btns button{
  border-color: white!important;
  color: white!important;
}
.lang-btns button:hover{
  border-color: white!important;
  background-color: white;
  color: #6c1433!important;
}

.lang-btns button .active {
  background-color: white !important;
  color: #6c1433 !important;
  border-color: white!important;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}


#myTab .nav-link{
  color: #561028 !important;
  font-weight: bold;
}

p{
  text-align: justify;
}


.hp-subtitle{
	font-size:25px;  
  text-align: justify;
  font-style: italic;
  margin-top:30px;
  color: #561028;
}
.en-rubric{
  font-size:14px; 
  text-align: justify; 
  font-style: italic; 
  color: #561028;
}

h6{
  font-size: 20px;
  font-weight: bold;
}


.cit-title{
  font-size: 18px; 
  color:#6c1433;
  font-style: italic;
}
.cit-text{
  color:#6c1433;
  font-style: italic;
}
.cit-reference{
  text-align: right; 
  color:#6c1433;
}
.cit-reference a{
  text-align: right; 
  color:#6c1433;
} 

.title{
  color: #561028;
  text-align: center;
  font-size:70px;
}

.page-title{
  padding-top: 45px;
  font-size: 45px;
  color: #561028;
    text-align: center;
}
.card-title{
  color: #561028;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.card-btn{
  border-color: #6c1433!important;
  color:white!important;
  background-color: #6c1433;
}

.card-btn:hover{
  border-color: #6c1433!important;
  background-color: white!important;
  color: #6c1433!important;
}



a{
  color: #561028;
}


.team-name{
	text-align: center;
  margin-top:15px;
  color: #6c1433;
  
}



h3{
  padding-top: 45px;
  font-size: 25px;
}
.html-page{
  flex: 1;
  padding: 50px;
}
.footer-btn{
  border-color: #6c1433!important;
  color:#6c1433!important;
}
.footer-btn:hover{
  background-color: #6c1433!important;
  color: white!important;
}

@media (max-width: 768px) {
  .p-5{
    padding-left: 30px!important;
    padding-right: 30px!important;
  }
  .cit-container{
    margin-top:30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .html-page{
    padding-left: 30px!important;
    padding-right: 30px!important;
  }
  .title{
    font-size:40px;
  }

  .hp-subtitle{
    font-size:15px;
  }
  .ascoliComune-img{
    width: 90% !important;;
  }
  .nav-link {
    border: none !important
  }
  .nav-link.active {
    text-decoration: underline;
  }
  .nav-tabs .nav-link:last-child {
    margin-bottom: 3px
  }
}
