item:after{
    content: "\a"
}

item label{
    font-weight: bold;
}

/*persName{
    color: #ff3399;
}

placeName{
    color: #009900;
}

seg[type="festa"]{
    color: orange;
    padding:1px; 
}*/

seg[type="internal-link"]{
    color: blue;
    padding:1px; 
}

corr:before{
    content: "["
}
corr:after{
    content: "] "
}
sic{
    text-decoration: line-through;
}

corr{
    color: #b1b4b4;
}

gap{
    content:"[__lacuna nel codice__]";
    font-size: 11px;
    color: #707575;
    background: #e5e6e6;
}

.titoloRubrica{
    font-size: 17px;
    font-weight: bold;
}





