item:after{
    content: "\a"
}

item label{
    font-weight: bold;
}

/*persName{
    color: #ff3399;
}

placeName{
    color: #009900;
}

seg[type="festa"]{
    color: orange;
    padding:1px; 
}*/

seg[type="internal-link"]{
    color: blue;
    padding:1px; 
}


sic{
    display: none;
}

gap::before{
    content:"[lacuna nel codice]";
    font-family: 'Courier New', Courier, monospace;
    color: #b1b4b4;
}


surplus{
    color: black;
    text-decoration: wavy;
}

.titoloRubrica{
    font-size: 17px;
    font-weight: bold;
}





